<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.min.css'/>
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/Footer-with-map.css">
    <style type="text/css" media="screen">
    .blue-div{
    background-color:#00a8ff;
    }
    .blue{
    background-color:#40739e;
    }
    .card{
    padding: 5% ;
    }
    .parallax {
    /* The image used */
    background-image: url("/images/1.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .conten{
    padding: 5%
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Constance API</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tutorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
        <div class="btn-group btn-group">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Login</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalreg">Register</button>
        </div>
      </div>
    </nav>
    <div class="container conten">
      <div class="row conten">
        <div class="col-sm-12 col-md-12 conten">
          <h1>Login</h1>
          <form action="users/login" method="POST">
            <div class="form-group">
              <input type="name" class="form-control"" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <footer id="myFooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h5>Get started</h5>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#" data-toggle="modal" data-target="#myModalreg">Sign up</a></li>
              <li><a href="#">Downloads</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h5>About us</h5>
            <ul>
              <li><a href="#">Company Information</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Reviews</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h5>Support</h5>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Help desk</a></li>
              <li><a href="#">Forums</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h5>Legal</h5>
            <ul>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <!-- Here we use the Google Embed API to show Google Maps. -->
        <!-- In order for this to work in your project you will need to generate a unique API key.  -->
      </div>
      <div class="social-networks">
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook-f "></i></a>
        <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
      </div>
      <div class="footer-copyright">
        <p>© 2018 Copyright Constance </p>
      </div>
    </footer>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Login</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="users/login" method="POST">
              <div class="form-group">
                <input type="name" class="form-control"" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModalreg">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form action="users/register" method="POST">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="name" class="form-control" id="email" name="first_name" placeholder="First Name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="name" class="form-control" id="email" name="last_name" placeholder="Last Name">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="name" class="form-control" id="email" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="email" class="form-control"  name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/tether.min.js"></script>
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>